
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 160rem;
}.free-marketing-landing-page-marft-t65 {
  box-sizing: border-box;
  padding-bottom: 162rem;
  width: 100%;
  overflow: hidden;
  position: relative;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}
.free-marketing-landing-page-marft-t65 .header-2bb {
  margin-bottom: 10rem;
  box-sizing: border-box;
  padding: 0.3rem 8.05rem 5.4rem 8.1rem;
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #f8f3ec;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu {
  margin-bottom: 6.3rem;
  width: 100%;
  height: 11.6rem;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh {
  width: 143.85rem;
  height: 7.8rem;
  position: absolute;
  left: 0;
  top: 3.8rem;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .auto-group-jdey-Azd {
  margin: 0rem 5.45rem 3.8rem 5.4rem;
  width: calc(100% - 10.85rem);
  height: 4rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .auto-group-jdey-Azd .group-5567-gxy {
  margin: 0.5rem 81.6rem 0.5rem 0rem;
  height: calc(100% - 1rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .auto-group-jdey-Azd .group-5567-gxy .about-us-PW1 {
  margin-right: 4.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.355;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .auto-group-jdey-Azd .group-5567-gxy .service-fyK {
  margin-right: 4.2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.355;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .auto-group-jdey-Azd .group-5567-gxy .blog-Bwf {
  margin-right: 4.1rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.355;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .auto-group-jdey-Azd .group-5567-gxy .contact-8c1 {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.355;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .auto-group-jdey-Azd .social-icon-sJh {
  height: 100%;
  display: flex;
  column-gap: 2rem;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .auto-group-jdey-Azd .social-icon-sJh .goggle-QpR {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .auto-group-jdey-Azd .social-icon-sJh .icon-x5F {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .auto-group-jdey-Azd .social-icon-sJh .instagram-V5B {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .nav-dzh .vector-188-2au {
  width: 143.85rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-ahrj-uYu .pro-realms-removebg-preview-1-mYV {
  width: 17.3rem;
  height: 11.6rem;
  position: absolute;
  left: 64.7rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT {
  margin: 0rem 13.45rem 0rem 5.3rem;
  width: calc(100% - 18.75rem);
  height: 65.3rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo {
  margin: 10.6rem 11.5rem 9.8rem 0rem;
  width: 56.6rem;
  height: calc(100% - 20.4rem);
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .create-your-brand-identity-Vcu {
  margin-bottom: 2.5rem;
  max-width: 42.5rem;
  font-size: 8.2rem;
  font-weight: 600;
  line-height: 0.8658536585;
  letter-spacing: -0.164rem;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 {
  margin: 0rem 0rem 9.2rem 0.5rem;
  max-width: 56.1rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.3636363636;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-0 {
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-1 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.3636363636;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-2 {
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-3 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.3636363636;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-4 {
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-5 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.3636363636;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-6 {
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-7 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.3636363636;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-8 {
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-9 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.3636363636;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-10 {
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-11 {
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.3636363636;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5 .helping-brands-own-their-social-media-presence-by-deploying-result-driven-services-around-social-strategy-content-production-community-management-paid-social-advertising-influencer-marketing-social-selling-more-QE5-sub-12 {
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 {
  margin: 0rem 13.3rem 0rem 1.1rem;
  width: calc(100% - 14.4rem);
  height: 7rem;
  display: flex;
  align-items: center;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .button-xCy {
  margin-right: 4.1rem;
  width: 20rem;
  height: 100%;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.355;
  text-transform: uppercase;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f6d88c;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm {
  margin: 0.8rem 0rem 0.873rem 0rem;
  height: calc(100% - 1.673rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18421-iLZ {
  margin-right: 0.8rem;
  width: 13.5rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18421-iLZ .rectangle-562-4QR {
  width: 12.1865rem;
  height: 5.327rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(24, 24, 23, 0.1000000015);
  box-sizing: border-box;
  border-radius: 3.65rem;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18421-iLZ .group-16-ACZ {
  width: 3.7947rem;
  height: 3.7946rem;
  position: absolute;
  left: 0.9122rem;
  top: 0.7297rem;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18421-iLZ .group-16-ACZ .ellipse-2-gRo {
  width: 3.7946rem;
  height: 3.7946rem;
  position: absolute;
  left: 0.0001rem;
  top: 0;
  background-color: #f29763;
  border-radius: 1.8973rem;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18421-iLZ .group-16-ACZ .mask-group-QMo {
  width: 3.7946rem;
  height: 3.7946rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: contain;
  vertical-align: top;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18421-iLZ .group-18237-Yiu {
  box-sizing: border-box;
  padding: 0.339rem 0.221rem 0.277rem 0.322rem;
  width: 4.046rem;
  height: 4.046rem;
  position: absolute;
  left: 3.8372rem;
  top: 0.6098rem;
  border: solid 0.4rem #f8f3ec;
  background-color: #56b8c0;
  border-radius: 2.023rem;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18421-iLZ .group-18237-Yiu .mask-group-rjb {
  width: 3.5027rem;
  height: 3.4297rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18421-iLZ .group-18238-Ze1 {
  box-sizing: border-box;
  padding: 0.281rem 0.294rem 0.277rem 0.264rem;
  width: 4.046rem;
  height: 4.046rem;
  position: absolute;
  left: 6.9728rem;
  top: 0.5838rem;
  border: solid 0.4rem #f8f3ec;
  background-color: #98dab2;
  border-radius: 2.023rem;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18421-iLZ .group-18238-Ze1 .mask-group-Uky {
  width: 3.4877rem;
  height: 3.4877rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18421-iLZ .star-1-nmf {
  width: 2.773rem;
  height: 2.773rem;
  position: absolute;
  left: 10.727rem;
  top: 1.2406rem;
  object-fit: contain;
  vertical-align: top;
  border-radius: 0.2rem;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18261-73F {
  margin: 0.9rem 0rem 0.727rem 0rem;
  width: 3.8rem;
  height: calc(100% - 1.627rem);
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18261-73F .item-500-owf {
  width: 3rem;
  height: 2.5rem;
  position: absolute;
  left: 0;
  top: 1.2rem;
  font-size: 1.8rem;
  font-weight: 600;
  line-height: 1.355;
  letter-spacing: -0.054rem;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .group-18420-mwo .auto-group-s6mp-qe9 .group-18260-ytm .group-18261-73F .rating-JtR {
  width: 3.8rem;
  height: 1.7rem;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 1.2rem;
  font-weight: 600;
  line-height: 1.355;
  text-transform: uppercase;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .rectangle-581-pLy {
  margin-right: 1.4rem;
  width: 27.8rem;
  height: 65.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .header-2bb .auto-group-n1kw-FyT .rectangle-583-Ynm {
  width: 27.8rem;
  height: 65.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim {
  margin: 0rem 21.55rem 15.988rem 21.5rem;
  width: calc(100% - 43.0503rem);
  height: 19.4123rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .group-18422-ajT {
  margin: 2.4rem 13.656rem 2.362rem 0rem;
  height: calc(100% - 4.7623rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .group-18422-ajT .vector-189-umj {
  margin-right: 3rem;
  width: 0;
  height: 14.65rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .group-18422-ajT .group-5979-rgy {
  margin: 0.3rem 0rem 0.25rem 0rem;
  height: calc(100% - 0.55rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .group-18422-ajT .group-5979-rgy .trusted-by-over-10k-clients-brands-acy {
  margin-bottom: 1.9rem;
  max-width: 30.8rem;
  font-size: 4rem;
  font-weight: 600;
  line-height: 0.875;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .group-18422-ajT .group-5979-rgy .grab-a-cup-of-tea-let-our-experts-do-your-work-VE9 {
  max-width: 27.2rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.1818181818;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu {
  height: 100%;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-rxkd-YCR {
  margin: 0rem 1.102rem 0rem 0rem;
  width: 22.4298rem;
  height: calc(100% - 0rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-rxkd-YCR .item-riu {
  margin-bottom: 1.1022rem;
  box-sizing: border-box;
  padding: 2.472rem 5.26rem 2.516rem 5.31rem;
  width: 100%;
  border: solid 0.1rem rgba(46, 77, 89, 0.1000000015);
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-rxkd-YCR .item-riu .bitmap-z4R {
  width: 11.8601rem;
  height: 4.167rem;
  position: relative;
  background-size: 100% 100%;
  background-image: url('../assets/bitmap.png');
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-rxkd-YCR .item-Tyb {
  width: 100%;
  height: 9.155rem;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-rxkd-YCR .item-Tyb .bitmap-d7P {
  width: 11.5395rem;
  height: 3.0986rem;
  position: relative;
  left: 5.4016rem;
  top: 3.0212rem;
  background-size: 100% 100%;
  background-image: url('../assets/bitmap-gmw.png');
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-rxkd-YCR .item-Tyb .rectangle-600-XTf {
  width: 22.4298rem;
  height: 9.155rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(46, 77, 89, 0.1000000015);
  box-sizing: border-box;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK {
  width: 45.9614rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-awj {
  width: 22.4298rem;
  height: 9.155rem;
  position: absolute;
  left: 0;
  top: 10.2572rem;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-awj .bitmap-Xc5 {
  width: 14.7396rem;
  height: 3.662rem;
  position: relative;
  left: 3.8453rem;
  top: 2.7465rem;
  background-size: 100% 100%;
  background-image: url('../assets/bitmap-9F7.png');
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-awj .rectangle-600-qMs {
  width: 22.4298rem;
  height: 9.155rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(46, 77, 89, 0.1000000015);
  box-sizing: border-box;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-9tM {
  width: 45.9614rem;
  height: 19.4055rem;
  position: absolute;
  left: 0;
  top: 0;
  align-items: flex-end;
  display: flex;
  flex-direction: column;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-9tM .auto-group-opxx-JFT {
  margin-bottom: 1.0955rem;
  width: 100%;
  height: 9.155rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-9tM .auto-group-opxx-JFT .group-18444-r25 {
  margin-right: 1.1018rem;
  width: 22.4298rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-9tM .auto-group-opxx-JFT .group-18444-r25 .bitmap-bVT {
  width: 13.0917rem;
  height: 3.2958rem;
  position: relative;
  left: 4.6688rem;
  top: 2.9296rem;
  background-size: 100% 100%;
  background-image: url('../assets/bitmap-VLD.png');
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-9tM .auto-group-opxx-JFT .group-18444-r25 .rectangle-600-WMX {
  width: 22.4298rem;
  height: 9.155rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem rgba(46, 77, 89, 0.1000000015);
  box-sizing: border-box;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-9tM .auto-group-opxx-JFT .item-2qf {
  width: 22.4298rem;
  height: 9.155rem;
  position: relative;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-9tM .item-PAR {
  margin-left: 23.5316rem;
  box-sizing: border-box;
  padding: 3.858rem 3.802rem 3.864rem 3.748rem;
  border: solid 0.1rem rgba(46, 77, 89, 0.1000000015);
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .trusted-company-Gim .logo-zAu .auto-group-m4em-TMK .item-9tM .item-PAR .vector-hwo {
  width: 14.8797rem;
  height: 1.4329rem;
  object-fit: contain;
  vertical-align: top;
}
.free-marketing-landing-page-marft-t65 .about-us-ozq {
  box-sizing: border-box;
  padding: 11.8rem 23.6rem 11.8rem 21.5rem;
  width: 100%;
  height: 88.9rem;
  background-color: #181817;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .about-us-ozq .group-18430-937 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
.free-marketing-landing-page-marft-t65 .about-us-ozq .group-18430-937 .group-18429-tmP {
  margin-right: 10.5081rem;
  width: 59.8919rem;
  height: 100%;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .about-us-ozq .group-18430-937 .group-18429-tmP .rectangle-616-3eH {
  width: 42.8rem;
  height: 65.3rem;
  position: absolute;
  left: 0;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
.free-marketing-landing-page-marft-t65 .about-us-ozq .group-18430-937 .group-18429-tmP .rectangle-615-PCM {
  width: 33.3806rem;
  height: 40.4771rem;
  position: relative;
  left: 26.5113rem;
  top: 16.4933rem;
  background-size: 198.548% 100%;
  background-position: -12.6059rem -0.5706rem;
  background-image: url('../assets/rectangle-615.png');
}
.free-marketing-landing-page-marft-t65 .about-us-ozq .group-18430-937 .group-18428-55B {
  margin: 16.5rem 0rem 19.1rem 0rem;
  width: 44.5rem;
  height: calc(100% - 35.6rem);
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .about-us-ozq .group-18430-937 .group-18428-55B .take-your-social-media-marketing-to-the-next-level-zxq {
  margin-bottom: 6.5rem;
  max-width: 44.4rem;
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 0.8307692308;
  letter-spacing: -0.13rem;
  color: #ffffff;
  font-family: Darker Grotesque, 'Source Sans Pro';
}
.free-marketing-landing-page-marft-t65 .about-us-ozq .group-18430-937 .group-18428-55B .button-uK7 {
  width: 18.6rem;
  height: 7rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.355;
  text-transform: uppercase;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #ffffff;
  border-radius: 1.6rem;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu {
  margin-bottom: 6.2rem;
  box-sizing: border-box;
  padding: 16.1rem 21.5rem 10rem 21.5rem;
  width: 100%;
  height: 90.5rem;
  background-color: #f8f3ec;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf {
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .what-we-provide-STT {
  margin: 0rem 0.2rem 16.5rem 0rem;
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 0.8307692308;
  letter-spacing: -0.13rem;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y {
  width: 100%;
  height: 42.5rem;
  display: flex;
  column-gap: 3rem;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18438-5FX {
  box-sizing: border-box;
  padding: 5rem 8.7rem 4.6rem 6.2rem;
  width: 37rem;
  height: 100%;
  background-color: #e9e4dc;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18438-5FX .group-18435-ohK {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18438-5FX .group-18435-ohK .group-18433-xq7 {
  margin: 0rem 0rem 2.4rem 0.4rem;
  width: 4.7rem;
  height: 4.7rem;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18438-5FX .group-18435-ohK .group-18433-xq7 .rectangle-620-J8H {
  width: 3.8657rem;
  height: 3.8657rem;
  position: absolute;
  left: 0.4456rem;
  top: 0.3787rem;
  background-color: #f6d88c;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18438-5FX .group-18435-ohK .group-18433-xq7 .rectangle-621-Ryb {
  width: 2.9055rem;
  height: 2.9055rem;
  position: absolute;
  left: 0.94rem;
  top: 0.8545rem;
  border: solid 0.1rem #181817;
  box-sizing: border-box;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18438-5FX .group-18435-ohK .group-18433-xq7 .rectangle-622-VTf {
  width: 4.7rem;
  height: 4.7rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #181817;
  box-sizing: border-box;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18438-5FX .group-18435-ohK .social-advertising-2Tb {
  margin-bottom: 13.8rem;
  max-width: 22.1rem;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 0.7857142857;
  letter-spacing: -0.112rem;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18438-5FX .group-18435-ohK .learn-more-vos {
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.355;
  text-transform: uppercase;
  text-decoration-line: underline;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18439-4ob {
  box-sizing: border-box;
  padding: 4.5rem 5.7rem 4.5rem 5.2rem;
  width: 37rem;
  height: 100%;
  background-color: #e9e4dc;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18439-4ob .group-18436-bYd {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18439-4ob .group-18436-bYd .group-18433-9q3 {
  margin: 0rem 0rem 2rem 0.6rem;
  width: 5.6rem;
  height: 5.6rem;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18439-4ob .group-18436-bYd .group-18433-9q3 .rectangle-620-g4H {
  width: 4.5236rem;
  height: 4.5236rem;
  position: absolute;
  left: 0.5rem;
  top: 0.5rem;
  background-color: #f6d88c;
  border-radius: 2.2618rem;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18439-4ob .group-18436-bYd .group-18433-9q3 .group-18434-zqf {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 0;
  top: 0;
  border-radius: 10rem;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18439-4ob .group-18436-bYd .group-18433-9q3 .group-18434-zqf .rectangle-617-LPj {
  width: 5.0912rem;
  height: 5.0912rem;
  position: absolute;
  left: 0.2543rem;
  top: 0.3rem;
  border: solid 0.1rem #181817;
  box-sizing: border-box;
  border-radius: 10rem;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18439-4ob .group-18436-bYd .group-18433-9q3 .group-18434-zqf .rectangle-618-eQR {
  width: 5.6rem;
  height: 5.6rem;
  position: absolute;
  left: 0;
  top: 0;
  border: solid 0.1rem #181817;
  box-sizing: border-box;
  border-radius: 10rem;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18439-4ob .group-18436-bYd .group-18432-mjw {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18439-4ob .group-18436-bYd .group-18432-mjw .partnership-management-Xz1 {
  margin-bottom: 13.9rem;
  max-width: 26.1rem;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 0.7857142857;
  letter-spacing: -0.112rem;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18439-4ob .group-18436-bYd .group-18432-mjw .learn-more-T6y {
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.355;
  text-transform: uppercase;
  text-decoration-line: underline;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18440-Njj {
  box-sizing: border-box;
  padding: 4.3rem 11.5rem 4.3rem 6.2rem;
  width: 37rem;
  height: 100%;
  background-color: #e9e4dc;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18440-Njj .group-18437-K9B {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18440-Njj .group-18437-K9B .group-18433-Gq7 {
  margin: 0rem 0rem 2rem 0.4rem;
  width: 6rem;
  height: 6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18440-Njj .group-18437-K9B .group-18432-QAd {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18440-Njj .group-18437-K9B .group-18432-QAd .content-creations-N7T {
  margin-bottom: 13.9rem;
  max-width: 19.3rem;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 0.7857142857;
  letter-spacing: -0.112rem;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .group-18451-Mgu .group-18442-HKf .group-18441-96y .group-18440-Njj .group-18437-K9B .group-18432-QAd .learn-more-UgH {
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.355;
  text-transform: uppercase;
  text-decoration-line: underline;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .cta-P2Z {
  margin-bottom: 8.2rem;
  box-sizing: border-box;
  padding: 10.9rem 34.9rem 10.9rem 35rem;
  width: 100%;
  height: 58.9rem;
  background-color: #181817;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/mask-group-jtm.png');
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .cta-P2Z .group-18446-uFo {
  box-sizing: border-box;
  padding: 0 0.1rem;
  width: 100%;
  height: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.6rem;
}
.free-marketing-landing-page-marft-t65 .cta-P2Z .group-18446-uFo .ready-to-increase-your-social-media-performance-eUH {
  margin-bottom: 15.9rem;
  max-width: 89.9rem;
  text-align: center;
  font-size: 8.2rem;
  font-weight: 600;
  line-height: 0.8658536585;
  letter-spacing: -0.164rem;
  color: #ffffff;
  font-family: Darker Grotesque, 'Source Sans Pro';
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .cta-P2Z .group-18446-uFo .button-jkd {
  margin: 0rem 34.9rem 0rem 35rem;
  width: calc(100% - 69.9rem);
  height: 7rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.355;
  text-transform: uppercase;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #f6d88c;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 {
  margin: 0rem 17.7rem 3.7rem 25.3rem;
  width: calc(100% - 43rem);
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-rpk1-SoT {
  margin: 0rem 16.3rem 9.6rem 0rem;
  width: calc(100% - 16.3rem);
  height: 14.9rem;
  display: flex;
  align-items: flex-end;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-rpk1-SoT .group-18450-ADf {
  margin-right: 33.5rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-rpk1-SoT .group-18450-ADf .read-our-blogs-WYR {
  margin-bottom: 3.5rem;
  font-size: 6.5rem;
  font-weight: 600;
  line-height: 0.8307692308;
  letter-spacing: -0.13rem;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-rpk1-SoT .group-18450-ADf .lorem-ipsum-dolor-sit-amet-consectetur-adipiscing-elit-in-urna-non-nisl-tincidunt-ut-elementum-turpis-1zy {
  max-width: 43.5rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3636363636;
  color: #6e6e6e;
  font-family: Darker Grotesque, 'Source Sans Pro';
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-rpk1-SoT .button-HxV {
  width: 23.7rem;
  height: 7rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.355;
  text-transform: uppercase;
  color: #f6d88c;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  align-items: center;
  justify-content: center;
  background-color: #181817;
  border-radius: 1.6rem;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX {
  width: 100%;
  height: 51.2rem;
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-iH7 {
  margin-right: 7.6rem;
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-iH7 .rectangle-590-4bs {
  margin-bottom: 2.4rem;
  width: 54.7rem;
  height: 31.3rem;
  position: relative;
  background-size: 100% 233.014%;
  background-position: 0 -27.7616rem;
  background-image: url('../assets/rectangle-590.png');
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-iH7 .auto-group-aeu9-kjb {
  width: 47.2rem;
  height: 17.5rem;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-iH7 .auto-group-aeu9-kjb .how-to-collaborate-with-companies-u6h {
  width: 47.2rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 0.8333333333;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-iH7 .auto-group-aeu9-kjb .group-18344-zdw {
  width: 11.2rem;
  height: 17.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-iH7 .auto-group-aeu9-kjb .group-18344-zdw .april-30-2020-Lho {
  margin-bottom: 11.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.875;
  color: #f29763;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-iH7 .auto-group-aeu9-kjb .group-18344-zdw .read-more-59b {
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.355;
  text-transform: uppercase;
  text-decoration-line: underline;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-QBs {
  height: 100%;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-QBs .rectangle-590-ZqT {
  margin-bottom: 2.4rem;
  width: 54.7rem;
  height: 31.3rem;
  object-fit: cover;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-QBs .auto-group-5jyh-hgm {
  width: 41.4rem;
  height: 17.5rem;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-QBs .auto-group-5jyh-hgm .about-social-media-advertising-3Eq {
  width: 41.4rem;
  height: 3rem;
  position: absolute;
  left: 0;
  top: 3.4rem;
  font-size: 3.6rem;
  font-weight: 600;
  line-height: 0.8333333333;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-QBs .auto-group-5jyh-hgm .group-18344-MFX {
  width: 11.2rem;
  height: 17.5rem;
  position: absolute;
  left: 0;
  top: 0;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-QBs .auto-group-5jyh-hgm .group-18344-MFX .april-30-2020-h4V {
  margin-bottom: 11.3rem;
  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1.875;
  color: #f29763;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
}
.free-marketing-landing-page-marft-t65 .blogs-je9 .auto-group-wjmb-yKX .blog-1-QBs .auto-group-5jyh-hgm .group-18344-MFX .read-more-E4R {
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.355;
  text-transform: uppercase;
  color: #181817;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj {
  width: 100%;
  height: 107.3rem;
  position: relative;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd {
  box-sizing: border-box;
  padding: 22.5rem 0.15rem 4.7rem 0.1rem;
  width: 160rem;
  height: 105.3rem;
  position: absolute;
  left: 0;
  top: 2rem;
  align-items: center;
  display: flex;
  flex-direction: column;
  background-color: #181817;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18452-cam {
  margin: 0rem 0rem 7.2rem 0.05rem;
  width: 16rem;
  height: 4rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18454-94u {
  margin: 0rem 46.95rem 34.3rem 47.1rem;
  width: calc(100% - 94.05rem);
  align-items: center;
  display: flex;
  flex-direction: column;
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18454-94u .subscribe-to-our-newsletter-sFo {
  margin: 0rem 0.1rem 9.8rem 0rem;
  text-align: center;
  font-size: 5.6rem;
  font-weight: 600;
  line-height: 1.25;
  letter-spacing: -0.112rem;
  color: #ffffff;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18454-94u .subscribe-x2M {
  box-sizing: border-box;
  padding: 3rem 3.9rem 3.3rem 3.35rem;
  width: 100%;
  display: flex;
  align-items: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('../assets/rectangle-626.png');
  border-radius: 1.5rem;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18454-94u .subscribe-x2M .enter-your-mail-sv1 {
  margin: 0.3rem 35.55rem 0rem 0rem;
  text-align: center;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.3636363636;
  color: #ffffff;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18454-94u .subscribe-x2M .subscribe-aZX {
  margin-bottom: 0.1rem;
  display: flex;
  font-size: 2.3rem;
  font-weight: 700;
  line-height: 1.355;
  text-transform: uppercase;
  color: #f6d88c;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .vector-184-sHj {
  margin-bottom: 3rem;
  width: 159.75rem;
  height: 0;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18379-pCy {
  margin: 0rem 23.05rem 0rem 21.4rem;
  width: calc(100% - 44.45rem);
  display: flex;
  align-items: center;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18379-pCy .copyright-text-woP {
  margin-right: 55.3rem;
  font-size: 2.2rem;
  font-weight: 500;
  line-height: 1.4545454545;
  color: #ffffff;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18379-pCy .privacy-policy-5eh {
  margin-right: 2rem;
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.355;
  color: #ffffff;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18379-pCy .vector-185-RCm {
  margin: 0.8rem 1.6rem 0rem 0rem;
  width: 0;
  height: 1.6rem;
  object-fit: contain;
  vertical-align: top;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .footer-Wnd .group-18379-pCy .terms-of-conditions-9eZ {
  font-size: 2.2rem;
  font-weight: 400;
  line-height: 1.355;
  color: #ffffff;
  font-family: Darker Grotesque, 'Source Sans Pro';
  white-space: nowrap;
  flex-shrink: 0;
}
.free-marketing-landing-page-marft-t65 .auto-group-xysz-Muj .pro-realms-removebg-preview-2-Ugq {
  width: 28.4rem;
  height: 28.5rem;
  position: absolute;
  left: 67.8rem;
  top: 0;
  object-fit: cover;
  vertical-align: top;
}
